*~
*.orig
*.pyc
*.rej
.installed.cfg
__minitage__*
bin/*
develop-eggs
downloads
eggs
log
parts
project/media/uploads/*
tmp/*
env/*
settings_local.py
static/*
employment_program/static/*
media/*
*.db
*.idea