<table border=0 width="700px" style=" padding: 10px 0 10px 0; background:none repeat scroll 0 0 #E6E8E8; font-size:13px;" >
  <tr>
    <td align= "center">
      <table style="border: none; border-collapse:collapse;">
        <tr>
          <td>
            <table cellpadding=0 style="text-align: left; background-color:#FFFFFF; color:#333; border-collapse:collapse; font-family: arial sans-serif;"  width=650px border=0 >
	      <!-- begin content -->
              <tr style="border-bottom: 6px solid #DC0024;">
                <td colspan=2 style="padding: 30px 30px 60px;">
                  {% block body %}{% endblock %}
                </td>
              </tr>
	      <!-- end content -->
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
