{% extends "base.html"%}
{%  block content %}
    <div class="well-large">

    <p style="color: blue; font-size: 20px;"> Job Training and Startup Accelerator</p>
    <h4>Jumpstarting innovation and generating new jobs</h4>
    <p>The Center for Government Interoperability is establishing a job training
        program. Job trainees will do web design and app development for startups
        that cannot afford developers or attract investment firms. </p>
    <p>The Center&#146;s projects primarily involve government improvement,
        but the employment program was initiated due to the broad scope of societal
        benefits. </p>
    <p style="color: blue;">Background</p>
    <ul>
        <li>There are thousands of startup ideas that cannot be implemented due
            to software developer costs</li>
        <li>There are millions of unemployed, many of whom could learn programming
            from free sources<br>
        </li>
    </ul>
    <p style="color: blue;">Basic Concept - Employment Program managed by CFGIO</p>
    <ol>
        <li>Unemployed novice programmers learn from free sources and start writing
            beginner apps in one year, and write moderately well after 2 years.
            College students majoring in computer science/MIS would be ready immediately.</li>
        <li>Unemployed novice programmers offer services to startups with simple
            app or web-design requirements.</li>
        <li>CFGIO sets up centralized database to match learning programmers with
            startups, and creates processes to help them work effectively together.</li>
        <li>Startups offer equity or delayed transaction-based payments to learning
            programmers.</li>
        <li>For startups, the goal is to give them an affordable prototype that
            allows investors to evaluate and fund the production version of their
            idea. For students, it gives them real-world learning experience and
            qualifies them to apply for entry-level programming positions, or to
            start their own startup.<br>
        </li>
    </ol>
    </div>



{%endblock%}