{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% block head_title %}
    {% endblock %}
{% endblock %}
{% block carousel %}
    <div class="teaser">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <h1>About Us//</h1>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block middlebar %}
    <div class="middle-bar">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <h2>Who we are!</h2>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extrahead %}

{% endblock %}

{% block content %}
    <h2 class="muted"> About Us</h2>


    <p class="lead">This project is the result of a partnership between the Center for Government Interoperability- www.gov-ideas.com, Giussepi López, and many volunteers who worked hard to enable job training for the unemployed, and provide startups with a means to develop their projects.</p>
    <h2 class="muted"> Our Missions</h2>
    <h2 class="muted"> Our objectives</h2>
    <h2 class="muted"> Our Aim</h2>
{% endblock %}
}