<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Innovation Upstart - Spark innovation! Match job trainees with new startups{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/theme.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,800,600,300' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png">
    {% block extrastyle %}{% endblock %}
    {% block extrahead %}{% endblock %}
    {% block blockbots %}
        <meta name="robots" content="NONE,NOARCHIVE" />
    {% endblock %}
</head>

<body>
<div class="navbar-wrapper">
    <div class="container">
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">Menu</a>
                <a class="brand" href="{% url employment_app_home %}">Innovation Upstart</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a href="{% url pybb:index %}">Forum</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">FAQ <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url faq_topic_list %}">Topics List</a></li>
                                <li><a href="{% url faq_submit %}">Submit a question</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Jobs
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <!-- dropdown menu links -->
                                <li><a href="{% url jobs_list %}">Jobs List</a></li>
                                <li><a href="{% url company_list %}">Projects</a></li>
                                {% if user.is_authenticated %}
                                    <li class="divider"></li>
                                    <li class="nav-header">Personal options</li>

                                    <li><a href="{% url apply_list %}">Applied Jobs</a></li>
                                    <li><a href="{% url your_job_post %}">Your Posted Jobs</a></li>
                                    <li><a href="{% url your_company %}">Your Projects</a></li>
                                    <li><a href="{% url job_create %}">Post a Job</a></li>
                                    <li><a href="{% url company_create %}">Add New Project</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Profiles
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu"  role="menu" aria-labelledby="dLabel">
                                <!-- dropdown menu links -->
                                <li><a href="{% url profiles_profile_list %}">Profiles list</a></li>
                                {% if user.is_authenticated %}
                                    <li class="divider"></li>
                                    <li class="nav-header">Personal options</li>
                                    <li><a href="{% url profiles_profile_detail user.username %}">My Profile</a></li>
                                    <li><a href="{% url profiles_edit_profile %}">Edit my Profile</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        <li><a href="{% url about_us %}">About</a></li>
                        <li><a href="{% url contact_us %}">Contact</a></li>
                    </ul>
                    <ul class="nav pull-right">
                        {% if user.is_authenticated %}

                            <li ><p class="navbar-text logged_user_info">Logged in as <a href="/accounts/{{ user.username }}">{{ user.username }}</a></p></li>
                            <li><a href="{% url auth_logout  %}">Logout</a></li>

                        {% else %}
                            <li > <a href=" {% url auth_login %}">Login</a></li>
                            <li > <a href="{% url registration_register %}">Register</a></li>
                        {% endif %}
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->
    </div><!-- /.container -->
</div><!-- /.navbar-wrapper -->

{% block carousel %}{% endblock %}
{% block middlebar %}
    <div class="middle-bar">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <h2>Free for all employment seekers and startups forever!<a href="#" class="btn btn-large">Sign Up Today <i class="icon-circle-arrow-right"></i></a></h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
<div class="container"><!-- column container-->
    <!-- <div style="margin-bottom: 50px;"></div> -->

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}


    {% block content %}{% endblock %}
    <hr>
    <!--&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&-->
    <hr>



</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="span4">
                <h5>Most Commented</h5>

            </div>
            <hr class="visible-phone">
            <div class="span4">
                <h5>Happy Tags</h5>
                <ul class="tag-cloud">
                    <li><a href="#">styles</a></li>
                    <li><a href="#">layout</a></li>
                    <li><a href="#">letterpress</a></li>
                    <li><a href="#">magazine</a></li>
                    <li><a href="#">menu</a></li>
                    <li><a href="#">metal</a></li>
                    <li><a href="#">navigation</a></li>
                    <li><a href="#">paper</a></li>
                    <li><a href="#">print</a></li>
                    <li><a href="#">scripts</a></li>
                    <li><a href="#">git</a></li>
                    <li><a href="#">node</a></li>
                </ul>
            </div>
            <hr class="visible-phone">
            <div class="span4">
                <h5>Social Networks</h5>
                <p>We're on the world wide waste of time:</p>
                <ul>
                    <li><i class="icon-facebook"></i> <a href="#">Friend us</a></li>
                    <li><i class="icon-twitter"></i> <a href="#">Follow us</a></li>
                    <li><i class="icon-pinterest"></i> <a href="#">Pin us</a></li>
                    <li><i class="icon-github"></i> <a href="#">Fork us</a></li>
                    <li><i class="icon-google-plus"></i> <a href="#">Forget us</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <p class="pull-right"><a href="#">Back to top</a></p>
                    <p> &copy; App built by <a href="">Giussepi López </a>     Template Designed by &middot; <a href="https://twitter.com/Accomplise">@accomplice</a> </p>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- last but not least the javascript -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/jquery-1.8.3.min.js"><\/script>')</script>
<script src="{{ STATIC_URL }}js/bootstrap.js"></script>
<script>
    $(document).ready(function(){
        //bootstrap tooltip trigger
        $('[rel="tooltip"]').tooltip();
    });
</script>
</body>
</html>
