{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% block head_title %}
    {% endblock %}
{% endblock %}
{% block carousel %}
    <div class="teaser">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <h1>Contant Us//</h1>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block middlebar %}
    <div class="middle-bar">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <h2>We are always a call way</h2>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extrahead %}

{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="span12">
                <h3><span>Message Sent</span></h3>
                <div class="alert centered">
                    <strong>Your message has been sent successfully</strong>
		    Our team will review it and get back to you within the 48 hours.
                </div>
            </div>
        </div>

    </div><!-- /.container -->

{% endblock %}
}
